/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #17479E 0%, #10377E 100%);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #10377E 0%, #17479E 100%);
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #17479E #10377E;
}


/* Typography */

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: .4px;
    margin-bottom: 16px;
}

.card-title {
    font-size: 12px;
    text-transform: uppercase;
    background: linear-gradient(90deg, #17479E 0%, #10377E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 600;
    margin-bottom: 12px;
}


.content-area {
    padding: 16px;
    background-color: #f6f6f6;
    flex: 1;
    max-height: 100dvh;
    overflow: auto;
}

.page-header {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(51,51,51,0.3);
    margin-bottom: 40px;
}

.page-header h2 {
    font-size: 32px;
    color: #333333;
    margin-bottom: 0;
}


/* File Cards */

.recent-file {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

.recent-file__list {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgba(41,84,160,.1);
    border: 1px solid #2954A0;
    border-radius: 8px;
    padding: 8px 12px;
    gap: 12px;
    max-width: 420px;
}

.recent-file__description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.recent-file__icon {
    background-color: rgba(41, 84,160, .1);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 0;
    min-width: 40px;
}

.recent-file__details {
    margin-bottom: 0;
    color: rgba(51,51,51,.8);
    font-size: 12px;
}

.recent-file__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    max-width: 200px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}


/* Empty State */

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.empty-state svg {
    max-width: 80px;
}

.empty-state h2 {
    font-size: 28px;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    color: #333;
}

.welcome-card {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: linear-gradient(270deg, #17479E 0%, #10377E 100%);
    padding: 20px;
    color: #fff;
    border-radius: 4px;
}

.welcome-card h5 {
    font-size: 28px;
    line-height: 150%;
    margin-bottom: 0;
}

.welcome-card p {
    margin-bottom: 0;
}

.user-name {
    font-size: 28px;
    line-height: 120%;
    background: linear-gradient(90deg, #17479E 0%, #10377E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 500; 
    margin-bottom: 40px;
}

.welcome-date {
    font-size: 12px;
    color: #333;
    margin-bottom: 12px;
}

.chat-image {
    margin-block-start: 4px;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
}

.chat-incoming {
    align-items: flex-start;
    display: flex;
    gap: 8px;
}