<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai_Chat</title>

    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Ai_chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Common.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/solid-pro.svg') }}">

</head>
<body>
    <div class="d-flex w-100">
        <!-- Sidebar -->
        <div class="sidebar">
            <header class="d-flex align-items-center gap-2">
                <img src="{{ url_for('static', filename='images/solid-pro-light.svg') }}" alt="Logo" class="logo-image">
                <div class="legal-ai">LEGAL ASSISTOR</div>
            </header>
            
            <div class="bot">
                <!-- Item List -->
                <div class="item-list">
                    <hr class="separator">
                    <div class="frame-6">
                        <div class="main-menu">Main Menu</div>
                        <a href="{{ url_for('dashboard') }}">

                            <div class="item">
                                <div class="material">
                                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}" alt="Dashboard" class="material-icon">
                                </div>
                                <div class="item-text">Dashboard</div>
                            </div>
                        </a>
                        <a href="{{ url_for('documents') }}">

                            <div class="item">
                                <div class="material">
                                    <img src="{{ url_for('static', filename='images/Document.png') }}" alt="Documents" class="material-icon">
                                </div>
                                <div class="item-text">Documents</div>
                            </div>
                        </a>
                        <a  href="{{ url_for('ai_chat') }}">

                            <div class="item">
                                <div class="material">
                                    <img src="{{ url_for('static', filename='images/AI_Chat.png') }}" alt="AI Chat" class="material-icon">
                                </div>
                                <div class="item-text">AI Chat</div>
                            </div>
                        </a>
                    </div>
                </div>
                
                
                <div class="item-list1">
                    <hr class="separator">
                    <a class="item logout-item text-decoration-none" href="{{ url_for('logout') }}">
                        <span class="material"><img src="{{ url_for('static', filename='images/power_settings_new.png') }}" alt="Logout Icon" class="material-icon"></span>
                        <span class="text-danger">Logout</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-area d-flex flex-column">
            <div class="card flex-grow-1">
                <div class="card-body d-flex flex-column">
                    <section class="nochat-container">
                        <div class="nochat-description">
                            <h2 class="nochat-title">Welcome to Legal AI</h2>
                            <p class="nochat-helper">The power of AI at your service - Tame the knowledge</p>
                        </div>
                        <div class="chatinput-wrapper">
                            <div>
                                <textarea type="text" placeholder="Please upload a document" class="chatinput-item" id="nochatInput"></textarea>
                                <div class="chatinput-actions">
                                    <input type="file" id="nochatFileUpload" accept=".pdf" class="d-none" />
                                    <label for="nochatFileUpload" class="chatinput-upload">
                                        <img src="{{ url_for('static', filename='images/proicons_attach.png') }}" alt="Upload">
                                    </label>
                                    <button class="sendBtn" id="nochatSendBtn" title="Send Message">
                                        <img src="{{ url_for('static', filename='images/send.png') }}" alt="Send Message">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="chat-container d-none">
                        <ul class="chatbox" id="chatbox">
                            <li class="chat-incoming chat">
                               
                            </li>
                        </ul>
                        <div class="chatinput-wrapper">
                            <div style="max-width: initial;">
                                <textarea type="text" placeholder="Please upload a document" class="chatinput-item" id="chatInput"></textarea>
                                <div class="chatinput-actions">
                                    <input type="file" id="chatFileUpload" accept=".pdf" class="d-none" />
                                    <label for="chatFileUpload" class="chatinput-upload">
                                        <img src="{{ url_for('static', filename='images/proicons_attach.png') }}" alt="Upload">
                                    </label>
                                    <button class="sendBtn" id="chatSendBtn" title="Send Message">
                                        <img src="{{ url_for('static', filename='images/send.png') }}" alt="Send Message">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
        
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='js/Ai_chat.js') }}"></script>

    
</body>
</html>